# app-container * {
    box-sizing:border-box;
    -moz-box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #D3D3D3;
}

.header {
    background-color: #778899;
    height: 100px;
    padding: 8px 0 0 0;
}

.header-description {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: bold;
    margin: 10px;
    text-align: left;
    padding: 0 0 0 22px
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    margin: 8px;
    padding: 0 0 0 20px
}

.content_wrapper{
    display: flex;
    margin-top: 5px;
}

.sidebar{
    position: relative;
    width: 20%;
    background-color: #FFFFFF;
    height:80vh
}

.wrapper {
    position: relative;
    margin: 10px auto;
    width: 90%;
    padding: 0px 20px auto;
    box-sizing: border-box;
}

.card{
    position: relative;
    width: 80%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu {
    margin-top: 5px;
    height: 50px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    background-color: #D3D3D3;
}

.menu-title {
    padding-top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.Select-control {
    width: 256px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

