# app-container * {
    box-sizing:border-box;
    -moz-box-sizing: border-box;
}


html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #696969;
}

.header {
    background-color: #778899;
    height: 75px;
    text-align: left;
}

.header-description {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    margin: 3px;
    text-align: left;
    padding: 0 0 0 22px
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    margin: 8px;
    padding: 0 0 0 20px
}

.sidebar{
    position: relative;
    width: 20%;
    margin-right: 2px;
    background-color: #FFFFFF;
    height:90vh
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.content_wrapper{
    display: flex;
    margin-top: 2px;
}

.main_top{
    display: flex;
    justify-content: space-between;
}

.date_picker_container{
    font-size: 10px;

}

.drop_down_menu{
    width: 250px;
    margin-left: auto;
    margin-right: 50px;
    font-size: 15px;
}

.wrapper {
    position: relative;
    margin: 5px auto;
    width: 90%;
    padding: 0px 20px auto;
    box-sizing: border-box;
}

.card{
    position: relative;
    width: 80%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.cpi_chart_container{
    position: relative;
    width: 120%;
    margin-top:10px
}

.line_chart_container{
    position: relative;
    width: 120%;
    margin-top:10px;
}