html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #D3D3D3;
}

.header {
    background-color: #778899;
    height: 100px;
    padding: 8px 0 0 0;
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    margin: 8px;
    padding: 0 0 0 20px
}

.header-description {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    text-align: left;
    max-width: 1000px;
    padding: 0 0 0 22px
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu {
    height: 112px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -50px auto -100 auto;
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.Select-control {
    width: 256px;
    height: 48px;
}

.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
}
